.sidebar {
  height: 100%;
  width: 250px; /* Cambia el valor según el ancho que desees */
  position: fixed; /* Cambia a fixed para que ocupe todo el lado izquierdo */
  transition: all 0.3s ease;
  background-color: #585656;
  border-right: 1px solid #dee2e6;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.sidebar.closed {
  width: 50px; /* Ancho del sidebar cuando está cerrado */
}

.toggle-btn {
  position: absolute;
  right: -15px;
  top: 20px;
  z-index: 1000;
  padding: 5px 10px;
  border-radius: 50%;
}

.sidebar-nav {
  padding: 1rem;
}

.sidebar-item {
  margin-bottom: 0.5rem;
}

.nav-link {
  cursor: pointer;
  color: #ffffff; /* Cambia el color de las letras aquí */
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #c2c2c2;
  color: #000000; /* Cambia el color al pasar el mouse aquí */
}

.sub-items {
  padding-left: 1rem;
}

.sub-item {
  padding-left: 1.5rem;
  font-size: 0.9rem;
  color: #ffffff; /* Cambia el color de las letras de sub-items aquí si es necesario */
}
