* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("../imagenes/fondo1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    position: relative;
    color: #e2f2ff;
    width: 300px;
    height: 250px;
    background: transparent;
    border: none;
    border-radius: 20px;
    backdrop-filter: blur(15px) brightness(80%);
    display: flex;
    flex-direction: column; /* Para que los elementos dentro del form-box se apilen verticalmente */
    justify-content: center; /* Para centrar verticalmente los elementos dentro del form-box */
    align-items: center; /* Para centrar horizontalmente los elementos dentro del form-box */
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: 0.5s;
}

/* animations: start */
input:focus~label,
input:valid~label {
    top: -5px;
}

/* animation:end */
.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

#btn-reintentar {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background: rgba(7, 7, 7, 0.7);
    border: none;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px; /* Ajuste del margen superior para separar el botón de otros elementos */
}

#btn-reintentar:hover {
    background-color: rgb(6, 7, 0.7); /* Color de la línea al pasar el cursor */
}
