body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef; /* Color de fondo */
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #001b44, #0056b3);
    padding: 1rem;
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.table-container {
    width: 50%; /* Ajustar el ancho de la tabla */
    margin: 2rem auto;
    background-color: #ffffff; /* Color de fondo blanco */
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem; /* Añadir padding para que la tabla no esté pegada a los bordes */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Efecto de sombra más pronunciado */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0; /* Añadir margen superior e inferior para separar del contenedor */
}

th, td {
    padding: 0.75rem; /* Reducir el padding para hacer la tabla más compacta */
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el cursor */
    transition: background-color 0.3s ease; /* Transición suave */
}

button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d80;
}

footer {
    background: linear-gradient(to right, #001b44, #0056b3);
    padding: 1rem;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 61%, 55%) 15%,
            hsl(218, 51%, 40%) 35%,
            hsl(218, 51%, 30%) 75%,
            hsl(218, 51%, 29%) 80%,
            transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(218, 61%, 55%) 15%,
            hsl(218, 51%, 40%) 35%,
            hsl(218, 51%, 30%) 75%,
            hsl(218, 51%, 29%) 80%,
            transparent 100%);
}

.background-radial-gradient .bg-image {
    height: 300px;
    background: linear-gradient(to right, #001b44, #0056b3);
}

.card {
    margin-top: -200px;
    backdrop-filter: blur(30px);
}

.form-outline {
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}

.form-outline .icon-container {
    flex: 0 0 auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
    pointer-events: none;
    color: #6c757d;
}

.form-outline label {
    flex: 0 0 100px;
    margin-right: 10px;
    text-align: left;
}

.form-outline input {
    flex: 1 1 auto;
}

.back-button {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
}

.text-center {
    text-align: center;
}
.table-container{
    margin-bottom: 10vh;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
    backdrop-filter: blur(5px); /* Desenfoque */
    z-index: 1; /* Asegurar que esté por encima de otros elementos */
    display: none; /* Ocultar inicialmente */
}

#modal {
    border: 2px solid white; 
}

table a {
    color: #000; 
    text-decoration: none; 
}

table a:visited {
    color: #000;
}

table a:hover {
    color: #000;
    text-decoration: underline; 
}

table a:active {
    color: #000;
}