body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef; /* Color de fondo */
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #001b44, #0056b3);
    padding: 1rem;
    text-align: left;
    color: white;
    font-size: 1.5rem;
}

.table-container {
    width: 50%; /* Ajustar el ancho de la tabla */
    margin: 2rem auto;
    background-color: #ffffff; /* Color de fondo blanco */
    border-radius: 8px;
    overflow: hidden;
    padding: 1rem; /* Añadir padding para que la tabla no esté pegada a los bordes */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efecto de sombra más pronunciado */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0; /* Añadir margen superior e inferior para separar del contenedor */
}

th, td {
    padding: 0.75rem; /* Reducir el padding para hacer la tabla más compacta */
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e0e0e0; /* Efecto hover */
    transition: background-color 0.3s ease; /* Transición suave */
}

.button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #003d80;
}

footer {
    background: linear-gradient(to right, #001b44, #0056b3);
    padding: 1rem;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
